.heading-container {
    display: flex;
    width: 1029px;
    height: 185px;
    flex-direction: column;
    justify-content: center;
    margin: 85px auto;  /* Center the container horizontally */
}

.heading {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;  /* Ensure you have this font available */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.highlight {
    color: #CB122A;  /* Highlight color for the word "Frauds" */
    font-family: 'Inter', sans-serif;  /* Ensure consistent font */
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
