/* Styles for the Insights Section */
.insights-section {
    display: flex;
    width: 980px;
    height: auto; /* Change height to auto to adjust for new content */
    justify-content: space-between;
    align-items: flex-start; /* Align content at the top */
    margin: 40px auto;
    padding: 20px; /* Add padding for better spacing */
  }
  
  .insights-text {
    width: 551px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
    line-height: 1.2;
    text-align: left;
  }
  
  .highlight {
    color: #CB122A;
  }
  
  .insights-logo img {
    width: 280px;
    height: 280px;
  }
  
  /* New styles for the "How to Search?" section */
  .how-to-search {
    color: #FFF;
  }
  
  .how-to-search h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-style: normal;
  }
  
  .how-to-search p {
    font-size: 18px;
    margin-bottom: px;
    line-height: 1.5;
  }
  
  .how-to-search strong {
    color: #CB122A; /* Highlight key parts of the description */
  }
  