/* src/App.css */
.App {
  text-align: center;
  padding: 20px;
}

body {
  background-color: #181818;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white; /* Optional: Set default text color to white for better contrast */
}